@media (min-width: 1000px) {

  .welcome-login {
    padding: 20% 1em 20% 1em;
    font: normal 40px/50px 'Raleway';
    background: url("https://s3.amazonaws.com/pmsoftware/photo-1470591152848-4491f83ca12a.jpeg") no-repeat center fixed; 
    background-size: cover;
  }
  .front-page-product-description {
    width: 850px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: calc(50% - 425px);
    margin-right: calc(50% - 425px);
  }
  .bs-wizard-info-subtext{
    font-size: 12px; 
  }
  .font-page-intro-description {
    color: black;
  }
  .bs-wizard-info {
    text-decoration: line-through;
  }
  .front-page-intro-revolver {
    height: 50px;
    width: 350px;  
    float: left;
    overflow: hidden;
    position: relative;
    text-align: right;
  }
  .font-page-intro-description {
    margin-left: 20px;
    height: 20%;
    width: 250px;
    float: left;
  }
  .front-page-cover {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    display: none;
  }
  .front-page-left {
    width: 100%;
    float: left;
    background-color: whitesmoke;
  }
  .front-page-right {
    display: none;
    width: 100%;
    float: left;
    padding: 0 5px 5px 5px;
    background-color: whitesmoke;
  }
  #front-page-chatbox {
    display: none;
  }
  body {
    font-family: 'Raleway';
    font-size: 20px;
  }
  span1 {
      display: inline-block;
      color: black;
      position: relative;
      white-space: nowrap;
      top: 0;
      left: 0;
      -webkit-animation: move 10s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-delay: 3s;
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  .front-page-projects-title {
    text-align: center;
  }
  .search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
  }
  .search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
  }
  .search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
  }
  .search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
  }
  .search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
  }
  .search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
  }
  .search-form .form-group:hover,
  .search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
  }
  .search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
  }
  #front-page-team-member-list-for-chat {
    text-align: left;
    margin: 0 0 0 0;
  }
  .chat-list {
    margin: 0 0.5% 0 0;
  }
  .edit-profile:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  /*Chat Style Beginning */
  @media only screen and (max-width : 540px) 
  {
      .chat-sidebar
      {
          display: none !important;
      }
      
      .chat-popup
      {
          display: none !important;
      }
  }
  body
  {
      background-color: #e9eaed;
  }
  .chat-sidebar
  {
      width: 220px;
      position: relative;
      padding-bottom: 5px;
      border: 1px solid rgba(0 ,0 ,0);
      overflow-y: scroll;
      color: #6a6a6a;
      background-color: #E5E8EF;
  }
  .sidebar-name 
  {
      padding-left: 10%;
      padding-right: 10px;
      margin-bottom: 4px;
      font-size: 12px;
      margin-top: 10px;
      width: 220px;
  }
  .sidebar-name span
  {
      padding-left: 5px;
  }
  .sidebar-name a
  {
      display: block;
      height: 100%;
      text-decoration: none;
      color: inherit;
  }
  .sidebar-name:hover
  {
      background-color:#e1e2e5;
  }
  .sidebar-name img
  {
      width: 32px;
      height: 32px;
      vertical-align: middle;
      border-radius: 5px;
  }
  .popup-box
  {
      display: none;
      position: fixed;
      bottom: 0px;
      right: 220px;
      height: 450px;
      background-color: rgb(237, 239, 244);
      width: 300px;
      border: 1px solid rgba(29, 49, 91, .3);
  }
  .popup-box .popup-head
  {
      background-color: #ff8000;
      padding: 5px;
      color: white;
      font-weight: bold;
      font-size: 14px;
      clear: both;
  }
  .popup-box .popup-head .popup-head-left
  {
      float: left;
  }
  .popup-box .popup-head .popup-head-right
  {
      float: right;
      opacity: 0.5;
  }
  .popup-box .popup-head .popup-head-right a
  {
      text-decoration: none;
      color: inherit;
  }
  .popup-box .popup-messages
  {
      height: 100%;
  }
  .chatContentBox {
    height: 80%;
    overflow-y: scroll;
  }
  .popup-box .popup-messages .chat-message-input-box {
    width: 100%;
    height: 10%;
    padding-left: 2.5%;
  }
  .popup-messages textarea {
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    font-family: raleway;
  }
  .chatInputBox {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    padding: 1px 4px 1px 4px;
    height: 8%;
    color: #ff8000;
  }
  .sender-wrap {
    clear: both;
    margin: 5px 0 5px 0;
    padding: 0 0 0 0;
  }
  .receiver-wrap {
    clear: both;
    margin: 5px 0 5px 0;
    padding: 0 0 0 0;
  }
  .sender {
    margin: 5px 5px 5px 0;
    padding: 0 0 0 0;
    position: relative;
    max-width: 253px;
    display: table-cell;
    float: right;
  }
  .receiver {
    margin: 5px 0 5px 0;
    padding: 0 0 0 0;
    position: relative;
    max-width: 280px;
    display:table-cell;
  }
  .sender p {
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    color: #5c00e6;
    background: #FFFFFF;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #7F7F7F solid 2px;
    font-size: 12px;
    line-height: 150%;
    font-weight: bold;
  }
  .receiver p {
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    background-color: #8080ff;
    color: white;
    margin-left: 40px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #7F7F7F solid 2px;
    font-size: 12px;
    line-height: 150%;
  }
  .receiver img {
    margin-left: 4px;
    float: left;
    border-radius: 5px;
  }
  .mail-box {
      border-collapse: collapse;
      border-spacing: 0;
      display: table;
      table-layout: fixed;
      width: 100%;
  }
  .mail-box aside {
      display: table-cell;
      float: none;
      height: 100%;
      padding: 0;
      vertical-align: top;
  }
  .mail-box .sm-side {
      background: none repeat scroll 0 0 #e5e8ef;
      border-radius: 4px 0 0 4px;
      width: 15%;
  }
  .mail-box .lg-side {
      background: none repeat scroll 0 0 #fff;
      border-radius: 0 4px 4px 0;
      width: 85%;
  }
  .mail-box .sm-side .user-head {
      background: none repeat scroll 0 0 #00a8b3;
      border-radius: 4px 0 0;
      color: #fff;
      min-height: 80px;
      padding: 10px;
  }
  .user-head {
    height: 80px;
  }
  .user-head .avatar {
      float: left;
      margin-right: 5px;
  }
  .user-head .inbox-avatar img {
      border-radius: 4px;
      height: 45px;
      width: 45px;
      margin: 5px 0 5px 0;
  }
  .user-head .user-name {
      display: absolute;
      position: right;
      margin: 0 0 0 0;
  }
  .user-head .user-name{
    margin-top: 5px;
  }
  .user-head .user-name h5 {
      font-size: 14px;
      font-weight: 300;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
  }
  .user-head .user-name h5 a {
      color: #fff;
  }
  .user-head .user-name span a {
      color: #87e2e7;
      font-size: 12px;
  }
  ul.inbox-nav {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .inbox-divider {
      border-bottom: 1px solid #d5d8df;
  }
  ul.inbox-nav li {
      display: inline-block;
      line-height: 45px;
      width: 100%;
  }
  ul.inbox-nav li a {
      color: #6a6a6a;
      display: inline-block;
      line-height: 45px;
      padding: 0 20px;
      width: 100%;
  }
  ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
      background: none repeat scroll 0 0 #d5d7de;
      color: #6a6a6a;
  }
  ul.inbox-nav li a i {
      color: #6a6a6a;
      font-size: 16px;
      padding-right: 10px;
  }
  .inbox-head {
      background: #FFA500;
      border-radius: 0 4px 0 0;
      color: #fff;
      height: 80px;
      padding: 20px;
  }
  .project-cover {
    width: 50%;
  }
  .panel-body-image-left img{
    width: 50%;
  }
  .panel-head-project-title {
    margin: 5px 5px 5px 5px;
  }
  .exp {
    margin: 5px 5px 5px 5px;
  }
  .front-page-user-profile-info {
    height: 80px;
    background-color: orange;
  }
  .front-page-user-profile-info-content {
    width: 90%;
    margin: 0 3% 0 3%;
  }
  .front-page-user-profile-info-left img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
  }
  .front-page-user-profile-info-left {
    float: left;
    margin: 15px 5px 15px 0px;
  }
  .front-page-user-profile-info-right {
    padding-top: 15px;
    overflow: hidden;
    text-align: center;
  }
  .front-page-user-profile-info-right p {
    margin: 0 0 0 0;
    padding:  0 0 0 0;
    color: white;
    font-size: 12px;
  }
  .projectList {
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 10px;
  }


  .two-entry-fields label {
    margin: 20px 0 10px 0;
    width: 80%;
    height: 20px;  
  }
  .two-entry-fields input {
    width:100%;
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
  }
  #project-duedate {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
  }
  .two-entry-fields {
    margin: 0 10% 0 10%;
    width: 80%;
    height: 20px;  
  }
  #project-title {
    margin: 0 10% 0 10%;
    width: 80%;
    height: 20px;
  }
  #project-description {
    margin: 0 10% 0 10%;
    width: 80%;
    height: 40px;
  }

  .email-entered-entering {
    width: auto;
    background-color: white;
    margin: 20px 10% 0 10%;
    padding: 0 2px 0 2px;
    border-color: #D5D7DE;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 28px;
  }

  .email-entered-entering label {
    margin: 0;
    padding: 0;
  }

  .email-entered {
    height: auto;
  }

  .email-entering {
    float: left;
    background-color: blue;
    margin: 2px 0 0 0 ;
    padding: 0;
    width: 100%;
  }

  .email-entering input {
    margin: 0;
    padding: 0;
  }

  .email-list-added {
    padding: 2px 10px 2px 10px;
    margin: 2px 2px 2px 0px; 
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    height: auto;
    width: auto;
    float: left;
  }

  .email-list-element {
    float: left;
  }

  .email-list-x-button {
    float: left;
    padding-left: 10px;
    padding-right: -5px;
    font-weight: 600;
  }


  #project-staff {
    width: 100%;
    height: 20px;
    border-radius: 0;
    border-color: white;
  }
  .submit-button-group {
    margin: 0 10% 0 10%;
    text-align: center;
    width: 80%;
  }
  #hideProjectDetailButton {
    margin: 0 27% 0 27%;
    text-align: center;
    width: 46%;
  }
  #addProjectButton {
    background-color: #ff704d;
    width: 80%;
    font-size: 10px;
    margin: 20px 0 0 0;
    padding: 0 0 0 0;
  }
  .inbox-nav {
    text-align: center;
  }


  .project-preview {
    margin: 0.5% 0 0 0 ;
    padding: 2% 5% 2% 10%;
    background-color: white;
    width: 100%;
    height: inherit;
    float: left;
    font: 40px;
  }

  .project-preview:hover {
    background-color: #ffd58e;
    padding: 2% 2% 2% 13%;
    -moz-transition: 400ms;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
  }

  .project-preview-project-left {
    line-height:1.5em;
    width: 60%;
    float: left;
  }

  .project-preview-project-middle {
    float: left;
    margin: 0 9% 0 9%;
  }

  .project-preview-project-right {
    float: left;
  }



  .timeline-centered {
      position: relative;
      margin-bottom: 30px;
  }
  .timeline-centered:before, .timeline-centered:after {
      content: " ";
      display: table;
  }
  .timeline-centered:after {
      clear: both;
  }
  .timeline-centered:before {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      background: #f5f5f6;
      /*left: 50%;*/
      top: 20px;
      bottom: 20px;
      margin-left: 30px;
  }
  .timeline-centered .timeline-entry {
      position: relative;
      /*width: 50%;
      float: right;*/
      margin-top: 3%;
      margin-bottom: 3%;
      margin-left: 30px;
      margin-right: 3%;
      clear: both;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
      background: #fff;
      color: #737881;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-align: center;
      -moz-box-shadow: 0 0 0 5px #f5f5f6;
      -webkit-box-shadow: 0 0 0 5px #f5f5f6;
      box-shadow: 0 0 0 5px #f5f5f6;
      line-height: 40px;
      font-size: 15px;
      float: left;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
      background-color: #ee4749;
      color: #fff;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
      background-color: #00a651;
      color: #fff;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
      background-color: #21a9e1;
      color: #fff;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
      background-color: #fad839;
      color: #fff;
  }
  .timeline-label h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

  }
  .timeline-label h6 {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
  }
  .timeline-label p {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
      position: relative;
      background: #f5f5f6;
      padding: 1em;
      margin-left: 60px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 9px 9px 0;
      border-color: transparent #f5f5f6 transparent transparent;
      left: 0;
      top: 10px;
      margin-left: -9px;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
      color: #737881;
      font-family: "Noto Sans",sans-serif;
      font-size: 12px;
      margin: 0;
      line-height: 1.428571429;
  }
  .sr-only {
    color: white;
  }
  .fullInfoExpansion {
    color: white;
    text-align: right;
    padding: 0 0 0 0;
    margin-right: 10px;
    padding-bottom: 5px;
  }
  .fullInfoExpansion p {
    padding: 0;
    margin: 0
  }
  .expandInfoButton:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .frontPageDetail-stage1 {
    margin: 1% 0% 0% 1.5%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    width: 23.5%;
    float: left;
    background-color: #F8B8C9;
  }
  .frontPageDetail-stage2 {
    margin: 1% 0% 0% 1%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    width: 23.5%;
    float: left;
    background-color: #F7DCB9;
  }
  .frontPageDetail-stage3 {
    margin: 1% 0% 0% 1%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    width: 23.5%;
    float: left;
    background-color: #BBECE6;
  }
  .frontPageDetail-stage4 {
    margin: 1% 0% 0% 1%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    width: 23.5%;
    float: left;
    background-color: #7CEBF5;
  }
  .frontPageDetail-stage1 h4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .frontPageDetail-stage1 h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .frontPageDetail-stage1 p {
    font-size: 14px;
    margin: 0 0 0 20px;
    padding: 0;
  }
  .frontPageDetail-stage2 h4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .frontPageDetail-stage2 h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .frontPageDetail-stage2 p {
    font-size: 14px;
    margin: 0 0 0 20px;
    padding: 0;
  }

  .frontPageDetail-stage3 h4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .frontPageDetail-stage3 h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .frontPageDetail-stage3 p {
    font-size: 14px;
    margin: 0 0 0 20px;
    padding: 0;
  }

  .frontPageDetail-stage4 h4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .frontPageDetail-stage4 h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .frontPageDetail-stage4 p {
    font-size: 14px;
    margin: 0 0 0 20px;
    padding: 0;
  }
  .stages {
    background-color: #FCFCFC;
    width: 100%;
    height: 210px;
  }
  .stage-detail {
    width: 100%;
    padding-left: 20px;
    background-color: #FCFCFC;
  }
  .displayName {
    color: white;
    margin: 0 0 10px 0;
    font-size: 15px;
  }
  .nameChange {
    text-align: center;
    height: 20px;
    width: 150px;
    font-family: 'Raleway';
    font-weight: 600;
  }
  #addStageButton {
    width: 230px;
    background-color: orange;
    border-color: orange;
  }
  .addStage-button-group {
    text-align: center;
  }
  .addStageInputFields-substage {
    margin-left: 20%;
  }
  .addStageInputFields-substage input {
    width: 88%;
  }
  .addStageInputFields-substage label {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .addTargetInputFields {
    margin-left: 30%;
  }
  .substage-goal {
    width: 75.8%;
  }
  .addTargetInputFields label {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  #addTargetButton {
    width: 230px;
  }
  .addTarget-button-group {
    text-align: center;
    width: 230px;
    margin-left: calc(50% - 115px);
  }
  button:hover {
    background-color: #cffcef;
    color: #e74c3c;
  }
  .substage-goal {
    float: left;
  }
  .allocateGoalButton {
    padding: 0 0 0 0;
    width: 10.5%;
    min-width: 90px;
    font-size: 10px;
  }
  .substageGoalFirstInput {
    width: 100%;
    height: 50px;
    font-size: 12px;
    display: -webkit-flex;
  }
  
  .substageGoalSecondInput {
    font-size: 12px;
  }

  .substageGoalThirdInput {
    width: 100%;
    position: relative;
  }
  .substageGoalThirdInputProgressPercentage {
    width: 30%;
    float: left;
  }
  .substageGoalFourthInputDueDate {
    width: 29%;
    float: left;
  }
  .substageGoalFourthInputOverallStatus {
    width: 30%;
    float: left;
  }
  .substageProgressPercentage {
    width: 90%;
  }
  .substageDueDate {
    width: 90%;
    height: 40px;
  }
  .substageOverallStatus {
    width: 90%;
  }

  .checkbox-element {
    width: 220px;
    float: left;
  }

  .checkbox-element-left {
    float: left;
  }

  .checkbox-element-right {
    margin-top: 10px;
  }


  /* Multistep */
  /* See below for SASS (allows you easily set dot radius and progress bar thickness and adjusts everything else! */
  .multistep .multistep-step {
      padding: 0;
      position: relative;
      margin-bottom: 10px;
      width: 210px;
      height: 100px;
      float: left;
      text-align: center;
  }

  .multistep .multistep-step .multistep-stepname {
      margin-bottom: 25px;
      color: #595959;
      font-size: 1rem;
      white-space: nowrap;

  }

  .multistep .multistep-step .multistep-dot {
      position: absolute;
      right: 50%;
      left: 50%;
      width: 32px;
      height: 32px;
      display: block;
      margin-top: -16px;
      margin-left: -15.5px;
      border-radius: 50%;
      background: #f5f5f5;
      /* Inner Dot */
  }

  .multistep .multistep-step .multistep-dot:after {
      content: ' ';
      border-radius: 50px;
      position: absolute;
      top: 8px;
      bottom: 8px;
      left: 8px;
      right: 8px;
      background: #e0e0e0;
  }

  .multistep .multistep-step .progress {
      position: absolute;
      width: 100%;
      height: 10.56px;
      margin-top: -5.28px;
      box-shadow: none;
      border-radius: 0;
      background: #B9E6DA;
  }

  .multistep .multistep-step:first-child > .progress {
      left: 50%;
      width: 50%;
  }

  .multistep .multistep-step:last-child > .progress {
      width: 50%;
      
  }

  .multistep .multistep-step.complete .multistep-dot {
      background: #B9E6DA;
  }

  .multistep .multistep-step.complete .multistep-dot:after {
      background: #70B1A2;
  }

  .text-center {
    margin: 0 5px 10px 5px;
    font-size: 12px;
  }

  .multistep {
    margin-left: calc(50% - 420px);
    margin-left: calc(50% - 420px);
    width: 100%;
    height: 100px;
  }

  .bs-wizard-info {
    margin-top: 50px;
  }

  .welcome-login-footer {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
  }

  .projectTopic {

    font-size: 50px;
    color: #4D5C69;
  }

  .project-key-information {
    margin-left: 5%;
    margin-right: 5%;
  }



  .projectDetailViewStatusBar {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
  }

  .projectCreatorName {
    float: left;
    margin-left: 5%;
  }

  .projectDueDate {
    float: left;
    margin-left: 5%;
  }

  .projectStatus {
    float: left;
    margin-left: 5%;
  }

  .projectDescription {
    margin-left: 5%;
    font-size: 20px;
  }

  .projectMember {
    margin-left: 5%;
  }

  .projectDetailView {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #E5E8EF;
    margin: 0 0 0 10%;
    float: left;
    width: 65%;
    padding: 2% 2% 2% 2%; 
  }

  .assignmentOverview {

  }

  .assignmentGoal {
    margin-left: 5%;
  }

  .assignmentAllocatedIndividual {
    margin-left: 5%;
  }

  .comments-cover {
    width: 20%;
    float: left;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #E5E8EF;
    margin-left: 2px;
  }

  .comments-by-user-content {
    margin: 10px 3% 0 27%;
    padding: 5px;
    background-color: #ffe0b3;
    border-radius: 10px;
    font-size: 13px;
  }

  .comments-by-user-writer {
    text-align: right;
    margin: 0 5% 10px 0;
    font-size: 13px;
    color: #bfbfbf;
  }

  .comments-by-others-content {
    margin: 10px 27% 0 3%;
    padding: 5px;
    background-color: #ffe0b3;
    border-radius: 10px;
    font-size: 13px;
  }
  .comments-by-others-writer {
    text-align: left;
    margin: 0 0 10px 5%;
    font-size: 13px;
    color: #bfbfbf;
  }
  .comments-cover-input-form{
    width: 100%;
    height: 40px;
    overflow-y: scroll;
    font-size: 13px;
  }
}




